/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #ECF0F1;
	padding: 0 1em;
}

h1 {
	text-align: center;
}

.user-stories h2 {
	text-align: center;
}

.user-stories ul li{
	margin-left: 2em;
}

.usage {
	display: flex;
	justify-content: space-around;
}

.usage h2 {
	text-align: center;
}

.usage p {
	padding: 0;
}

.form {
	display: flex;
	justify-content: center;
}